body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.7;
    padding: 1em;
    gap: 40px;
}

@media (min-width: 900px) {
    body {
        display: grid;
        grid-template-areas: "spacerLeft left right spacerRight";
        grid-template-columns: 1fr minmax(200px, 300px) minmax(400px, 800px) 1fr;    
    }    

    .right {
        /* margin-top: 1em; */
    }
}

.left > .inner {
    position: sticky;
    top: 1.5em;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

ul {
    padding-left: 1em;
}

a {
    color: black;
}

.photo {
    width: 160px;
    border-radius: 4px;
}

.right h2 {
    margin-top: 2em;
    padding-bottom: .5em;
    border-bottom: 1px solid rgb(126, 126, 126);  
}

.work-experience ul + h3 {
    padding-top: 1em;
    margin-top: 2em;
    border-top: 1px solid rgb(126, 126, 126);
}

.language-link {
    font-style: italic;
}