:root {
    --green-dark: rgb(23, 57, 23);
    --green-light: rgb(195, 211, 195);
    --green: rgb(57, 112, 57);
    --green-text: rgb(218, 247, 218);
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

@media (min-width: 900px) {
    body {
        display: grid;
        grid-template-areas: "spacerLeft left right spacerRight";
        grid-template-columns: 1fr minmax(200px, 400px) minmax(400px, 900px) 1fr;    
    }    
}

.left > .inner {
    position: sticky;
    top: 0;
    margin-bottom: auto;
    background-color: var(--green-dark);
    padding-top: 3em;
    color: var(--green-text);
    padding-inline: 2em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.left {
    grid-area: left;
    padding-inline: 40px;
}

.left h2,
.left, .left a {
    color: var(--green-text);
}

.right {
    background-color: white;
    grid-area: right;
    padding-inline: 40px;
    padding-bottom: 3em;
}

ul {
    padding-left: 1em;
}

a {
    color: var(--green);
}

img {
    width: 160px;
    border-radius: 50%;
}

.right h2 {
    padding-top: 2em;
    padding-bottom: 0;
}

.work-experience ul + h3 {
    padding-top: 1em;
    margin-top: 2em;
}

.language-link {
    font-style: italic;
}

h2, h3 {
    color: var(--green-dark);
}

.work-experience p,
.work-experience ul {
    margin-left: 60px;
}

.work-experience h2 + h3 {
    margin-top: 2em;
}

.work-experience h3,
.work-experience h3 + p {
    margin-left: 34px;
    margin-top: 0;
    margin-bottom: 0;
}

.work-experience {
    margin-top: 2em;
    position: relative;
}

.work-experience h3:before {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    content: '';
    background-color: var(--green-dark);
    left: 0;
    margin-top: 12px;
    z-index: 1;
}

.work-experience::after {
    content: '';
    position: absolute;
    display: block;
    top: 154px;
    border-radius: 10px;
    width: 12px;
    left: 0px;
    height: calc(100% - 154px);
    background-color: var(--green-light);
}

.work-experience h3  + p > em {
    font-size: 16px;
    color: var(--green);
}

.about-me {
    background-color: var(--green-light);
    padding-inline: 3em;
    padding-block: 2em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.about-me h2 {
    padding-top: 0;
}

.software-engineer h2 {
    line-height: 1.4;
    margin-top: 0;
}

.software-engineer {
    padding-bottom: 2em;
}

.work-experience h2 {
    font-size-adjust: .8;
}