---
import '../style.scss'

const { language } = Astro.params;
---

<html lang={language}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>CV Daniël Beeke</title>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="msapplication-TileColor" content="#173917">
		<meta name="theme-color" content="#173917">
	</head>
	<body>
        <slot />
    </body>
</html>

<script>
	/** @ts-ignore */
	window.printPdf = () => {
		document.querySelectorAll('details').forEach(detail => detail.setAttribute('open', ''))
		window.print()
	}
</script>